## To load yearly_deaths_by_clinic Dataset and print it

In [5]:
#Task1
import pandas as pd
yearly=pd.read_csv(r'C:\Users\uppal\Desktop\documents\Data Science Final project\Dr. Semmelweis and the Discovery of Handwashing\datasets\yearly_deaths_by_clinic.csv')
print(yearly)

    year  births  deaths    clinic
0   1841    3036     237  clinic 1
1   1842    3287     518  clinic 1
2   1843    3060     274  clinic 1
3   1844    3157     260  clinic 1
4   1845    3492     241  clinic 1
5   1846    4010     459  clinic 1
6   1841    2442      86  clinic 2
7   1842    2659     202  clinic 2
8   1843    2739     164  clinic 2
9   1844    2956      68  clinic 2
10  1845    3241      66  clinic 2
11  1846    3754     105  clinic 2

## Calculate the proportion of deaths per number of births and store the result in the new column yearly["proportion_deaths"].

In [10]:
#Task2
yearly["proportion_deaths"]=yearly['deaths']/yearly['births']
yearly["proportion_deaths"]

0     0.078063
1     0.157591
2     0.089542
3     0.082357
4     0.069015
5     0.114464
6     0.035217
7     0.075968
8     0.059876
9     0.023004
10    0.020364
11    0.027970
Name: proportion_deaths, dtype: float64

## Extract the rows from clinic 1 into yearly1 and the rows from clinic 2 into yearly2.
## Print out yearly1.

In [17]:
#Task2
yearly1=yearly.loc[yearly['clinic']=='clinic 1']
yearly2=yearly.loc[yearly['clinic']=='clinic 2']
yearly1

   year  births  deaths    clinic  proportion_deaths
0  1841    3036     237  clinic 1           0.078063
1  1842    3287     518  clinic 1           0.157591
2  1843    3060     274  clinic 1           0.089542
3  1844    3157     260  clinic 1           0.082357
4  1845    3492     241  clinic 1           0.069015
5  1846    4010     459  clinic 1           0.114464

In [18]:
yearly2

    year  births  deaths    clinic  proportion_deaths
6   1841    2442      86  clinic 2           0.035217
7   1842    2659     202  clinic 2           0.075968
8   1843    2739     164  clinic 2           0.059876
9   1844    2956      68  clinic 2           0.023004
10  1845    3241      66  clinic 2           0.020364
11  1846    3754     105  clinic 2           0.027970