## Calculate the average reduction in proportion of deaths due to handwashing.
## Select the column proportion_deaths in before_washing and put it into before_proportion.
### Do the same for proportion_deaths in after_washing and put it into after_proportion.
### Calculate the difference in mean monthly proportion of deaths as mean after_proportion minus mean before_proportion.

In [19]:
#Task7
import pandas as pd
import matplotlib as plt
monthly=pd.read_csv(r'C:\Users\uppal\Desktop\documents\Data Science Final project\Dr. Semmelweis and the Discovery of Handwashing\datasets\monthly_deaths.csv',parse_dates=["date"])
monthly["proportion_deaths"]=monthly["deaths"]/monthly["births"]
before_washing = monthly[monthly["deaths"] >30]
before_washing

         date  births  deaths  proportion_deaths
0  1841-01-01     254      37           0.145669
10 1841-11-01     235      53           0.225532
11 1842-01-01     307      64           0.208469
12 1842-02-01     311      38           0.122186
17 1842-07-01     231      48           0.207792
18 1842-08-01     216      55           0.254630
19 1842-09-01     223      41           0.183857
20 1842-10-01     242      71           0.293388
21 1842-11-01     209      48           0.229665
22 1842-12-01     239      75           0.313808
23 1843-01-01     272      52           0.191176
24 1843-02-01     263      42           0.159696
25 1843-03-01     266      33           0.124060
26 1843-04-01     285      34           0.119298
32 1843-10-01     250      44           0.176000
35 1844-01-01     244      37           0.151639
37 1844-03-01     276      47           0.170290
38 1844-04-01     208      36           0.173077
56 1845-10-01     283      42           0.148410
59 1846-01-01     336      45           0.133929
60 1846-02-01     293      53           0.180887
61 1846-03-01     311      48           0.154341
62 1846-04-01     253      48           0.189723
63 1846-05-01     305      41           0.134426
65 1846-07-01     252      33           0.130952
66 1846-08-01     216      39           0.180556
67 1846-09-01     271      39           0.143911
68 1846-10-01     254      38           0.149606
69 1846-11-01     297      32           0.107744
74 1847-04-01     312      57           0.182692
75 1847-05-01     294      36           0.122449

In [20]:
before_washing

         date  births  deaths  proportion_deaths
0  1841-01-01     254      37           0.145669
10 1841-11-01     235      53           0.225532
11 1842-01-01     307      64           0.208469
12 1842-02-01     311      38           0.122186
17 1842-07-01     231      48           0.207792
18 1842-08-01     216      55           0.254630
19 1842-09-01     223      41           0.183857
20 1842-10-01     242      71           0.293388
21 1842-11-01     209      48           0.229665
22 1842-12-01     239      75           0.313808
23 1843-01-01     272      52           0.191176
24 1843-02-01     263      42           0.159696
25 1843-03-01     266      33           0.124060
26 1843-04-01     285      34           0.119298
32 1843-10-01     250      44           0.176000
35 1844-01-01     244      37           0.151639
37 1844-03-01     276      47           0.170290
38 1844-04-01     208      36           0.173077
56 1845-10-01     283      42           0.148410
59 1846-01-01     336      45           0.133929
60 1846-02-01     293      53           0.180887
61 1846-03-01     311      48           0.154341
62 1846-04-01     253      48           0.189723
63 1846-05-01     305      41           0.134426
65 1846-07-01     252      33           0.130952
66 1846-08-01     216      39           0.180556
67 1846-09-01     271      39           0.143911
68 1846-10-01     254      38           0.149606
69 1846-11-01     297      32           0.107744
74 1847-04-01     312      57           0.182692
75 1847-05-01     294      36           0.122449

In [12]:
before_proportion=before_washing["proportion_deaths"]
before_proportion

10    0.225532
11    0.208469
18    0.254630
20    0.293388
22    0.313808
23    0.191176
60    0.180887
74    0.182692
Name: proportion_deaths, dtype: float64

In [21]:
after_washing = monthly[monthly["deaths"] <30]
after_proportion=after_washing["proportion_deaths"]
after_proportion

1     0.075314
2     0.043321
3     0.015686
4     0.007843
5     0.050000
6     0.084211
7     0.013514
8     0.018779
9     0.110169
13    0.102273
14    0.107438
15    0.032258
16    0.065934
27    0.060976
28    0.040816
29    0.005236
30    0.015544
31    0.022624
33    0.071429
34    0.080508
36    0.112840
39    0.058333
40    0.026786
41    0.043689
42    0.063197
43    0.012245
44    0.032258
45    0.110204
46    0.105469
47    0.075908
        ...
55    0.105485
57    0.109434
58    0.104869
64    0.101504
70    0.053691
71    0.032154
72    0.019231
73    0.036066
76    0.022388
77    0.012000
78    0.018939
79    0.045802
80    0.039568
81    0.044715
82    0.029304
83    0.035336
84    0.006873
85    0.000000
86    0.006557
87    0.009585
88    0.011364
89    0.003717
90    0.000000
91    0.009615
92    0.023411
93    0.029032
94    0.013405
95    0.022333
96    0.030848
97    0.049261
Name: proportion_deaths, Length: 67, dtype: float64

In [22]:
before_proportion.mean()

0.2313228389156067

In [23]:
after_proportion.mean()

0.04534317465106883

In [24]:
after_proportion.mean()-before_proportion.mean()

-0.18597966426453788

In [25]:
before_proportion.mean()-after_proportion.mean()

0.18597966426453788