### Now that we've understood the business problem and have an idea of what is supposed to be in the data, we can compare these impressions to what we actually see in the data. Your job in data exploration is to not only look through the data both directly and using numerical and graphical summaries, but also to think critically about whether the data make sense and match what you have been told about them. These are helpful steps in data exploration:

In [10]:
import pandas as pd
import numpy as np
df = pd.read_excel(r'C:\Users\uppal\Desktop\Technocolabs internship\default_of_credit_card_clients.xls')
df.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

In [11]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,798fc410-45c1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,8a8c8f3b-8eb4,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,85698822-43f5,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,0737c11b-be42,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,3b7f77cc-dbc0,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [12]:
df['ID'].nunique()

29687

In [14]:
df.shape

(30000, 25)

In [15]:
id_counts = df['ID'].value_counts()
id_counts.head()

355fe35a-5db7    2
0a5048ae-e120    2
6d1fc219-67b0    2
ae6a7eed-bb58    2
e7cd8c1a-88e9    2
Name: ID, dtype: int64

In [16]:
id_counts.value_counts()

1    29374
2      313
Name: ID, dtype: int64

In [18]:
np.random.seed(seed=24)
random_integers = np.random.randint(low=1,high=5,size=100)
random_integers

array([3, 4, 1, 4, 2, 2, 2, 1, 4, 4, 1, 4, 4, 3, 4, 4, 4, 4, 4, 4, 2, 3,
       4, 4, 2, 4, 2, 4, 1, 1, 3, 1, 4, 2, 2, 1, 4, 3, 2, 2, 3, 3, 2, 3,
       4, 2, 3, 4, 1, 3, 4, 2, 2, 4, 1, 2, 3, 3, 2, 1, 2, 4, 2, 1, 4, 3,
       1, 2, 1, 3, 4, 2, 3, 4, 1, 3, 2, 1, 1, 3, 3, 4, 3, 2, 4, 1, 4, 4,
       4, 4, 1, 4, 3, 2, 4, 4, 3, 3, 2, 4])

In [19]:

is_equal_to_3 = random_integers == 3

In [20]:
is_equal_to_3[:5]

array([ True, False, False, False, False])

In [21]:
sum(is_equal_to_3)

22

In [22]:
random_integers[is_equal_to_3]

array([3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3])

In [23]:
id_counts = df['ID'].value_counts()
dupe_mask = id_counts == 2
dupe_mask[0:5]

355fe35a-5db7    True
0a5048ae-e120    True
6d1fc219-67b0    True
ae6a7eed-bb58    True
e7cd8c1a-88e9    True
Name: ID, dtype: bool

In [24]:
dupe_ids = id_counts.index[dupe_mask]
dupe_ids = list(dupe_ids)
len(dupe_ids)

313

In [25]:
df.loc[df['ID'].isin(dupe_ids[0:3]),:].head(10)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
4402,0a5048ae-e120,270000,1,1,2,48,Not available,0,0,0,...,26872,23660,12053,2680,1420,15,42,2476,0,0
4502,0a5048ae-e120,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18496,355fe35a-5db7,170000,2,2,2,25,0,0,0,0,...,42793,30466,25583,2019,2006,2002,788,989,1000,0
18596,355fe35a-5db7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28867,6d1fc219-67b0,210000,2,1,1,46,0,0,0,0,...,49848,59060,60420,3111,2109,2000,10000,6032,5030,0
28967,6d1fc219-67b0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0